#button-dropdown div.dropdown {
  display: none;
}

#button-dropdown:hover div.dropdown {
  display: block;
}

.button-product:hover div.product {
  opacity: 1;
}

div.dropdown-1-0 div.dropdown-1-sub-0 {
  display: none;
}

div.dropdown-1-0:hover div.dropdown-1-sub-0 {
  display: block;
}

div.dropdown-2-0 div.dropdown-2-sub-0 {
  display: none;
}

div.dropdown-2-0:hover div.dropdown-2-sub-0 {
  display: block;
}

div.dropdown-1-1 div.dropdown-1-sub-1 {
  display: none;
}

div.dropdown-1-1:hover div.dropdown-1-sub-1 {
  display: block;
}

div.dropdown-2-1 div.dropdown-2-sub-1 {
  display: none;
}

div.dropdown-2-1:hover div.dropdown-2-sub-1 {
  display: block;
}

div.dropdown-1-2 div.dropdown-1-sub-2 {
  display: none;
}

div.dropdown-1-2:hover div.dropdown-1-sub-2 {
  display: block;
}

div.dropdown-2-2 div.dropdown-2-sub-2 {
  display: none;
}

div.dropdown-2-2:hover div.dropdown-2-sub-2 {
  display: block;
}

div.dropdown-1-3 div.dropdown-1-sub-3 {
  display: none;
}

div.dropdown-1-3:hover div.dropdown-1-sub-3 {
  display: block;
}

div.dropdown-2-3 div.dropdown-2-sub-3 {
  display: none;
}

div.dropdown-2-3:hover div.dropdown-2-sub-3 {
  display: block;
}

div.dropdown-1-4 div.dropdown-1-sub-4 {
  display: none;
}

div.dropdown-1-4:hover div.dropdown-1-sub-4 {
  display: block;
}

div.dropdown-2-4 div.dropdown-2-sub-4 {
  display: none;
}

div.dropdown-2-4:hover div.dropdown-2-sub-4 {
  display: block;
}

div.dropdown-1-5 div.dropdown-1-sub-5 {
  display: none;
}

div.dropdown-1-5:hover div.dropdown-1-sub-5 {
  display: block;
}

div.dropdown-2-5 div.dropdown-2-sub-5 {
  display: none;
}

div.dropdown-2-5:hover div.dropdown-2-sub-5 {
  display: block;
}

div.dropdown-1-6 div.dropdown-1-sub-6 {
  display: none;
}

div.dropdown-1-6:hover div.dropdown-1-sub-6 {
  display: block;
}

div.dropdown-2-6 div.dropdown-2-sub-6 {
  display: none;
}

div.dropdown-2-6:hover div.dropdown-2-sub-6 {
  display: block;
}

div.dropdown-1-7 div.dropdown-1-sub-7 {
  display: none;
}

div.dropdown-1-7:hover div.dropdown-1-sub-7 {
  display: block;
}

div.dropdown-2-7 div.dropdown-2-sub-7 {
  display: none;
}

div.dropdown-2-7:hover div.dropdown-2-sub-7 {
  display: block;
}

div.dropdown-1-8 div.dropdown-1-sub-8 {
  display: none;
}

div.dropdown-1-8:hover div.dropdown-1-sub-8 {
  display: block;
}

div.dropdown-2-8 div.dropdown-2-sub-8 {
  display: none;
}

div.dropdown-2-8:hover div.dropdown-2-sub-8 {
  display: block;
}

div.dropdown-1-9 div.dropdown-1-sub-9 {
  display: none;
}

div.dropdown-1-9:hover div.dropdown-1-sub-9 {
  display: block;
}

div.dropdown-2-9 div.dropdown-2-sub-9 {
  display: none;
}

div.dropdown-2-9:hover div.dropdown-2-sub-9 {
  display: block;
}

div.dropdown-1-10 div.dropdown-1-sub-10 {
  display: none;
}

div.dropdown-1-10:hover div.dropdown-1-sub-10 {
  display: block;
}

div.dropdown-2-10 div.dropdown-2-sub-10 {
  display: none;
}

div.dropdown-2-10:hover div.dropdown-2-sub-10 {
  display: block;
}

div.dropdown-1-11 div.dropdown-1-sub-11 {
  display: none;
}

div.dropdown-1-11:hover div.dropdown-1-sub-11 {
  display: block;
}

div.dropdown-2-11 div.dropdown-2-sub-11 {
  display: none;
}

div.dropdown-2-11:hover div.dropdown-2-sub-11 {
  display: block;
}

div.dropdown-1-12 div.dropdown-1-sub-12 {
  display: none;
}

div.dropdown-1-12:hover div.dropdown-1-sub-12 {
  display: block;
}

div.dropdown-2-12 div.dropdown-2-sub-12 {
  display: none;
}

div.dropdown-2-12:hover div.dropdown-2-sub-12 {
  display: block;
}

div.dropdown-1-13 div.dropdown-1-sub-13 {
  display: none;
}

div.dropdown-1-13:hover div.dropdown-1-sub-13 {
  display: block;
}

div.dropdown-2-13 div.dropdown-2-sub-13 {
  display: none;
}

div.dropdown-2-13:hover div.dropdown-2-sub-13 {
  display: block;
}

div.dropdown-1-14 div.dropdown-1-sub-14 {
  display: none;
}

div.dropdown-1-14:hover div.dropdown-1-sub-14 {
  display: block;
}

div.dropdown-2-14 div.dropdown-2-sub-14 {
  display: none;
}

div.dropdown-2-14:hover div.dropdown-2-sub-14 {
  display: block;
}

div.dropdown-1-15 div.dropdown-1-sub-15 {
  display: none;
}

div.dropdown-1-15:hover div.dropdown-1-sub-15 {
  display: block;
}

div.dropdown-2-15 div.dropdown-2-sub-15 {
  display: none;
}

div.dropdown-2-15:hover div.dropdown-2-sub-15 {
  display: block;
}

div.dropdown-1-16 div.dropdown-1-sub-16 {
  display: none;
}

div.dropdown-1-16:hover div.dropdown-1-sub-16 {
  display: block;
}

div.dropdown-2-16 div.dropdown-2-sub-16 {
  display: none;
}

div.dropdown-2-16:hover div.dropdown-2-sub-16 {
  display: block;
}

div.dropdown-1-17 div.dropdown-1-sub-17 {
  display: none;
}

div.dropdown-1-17:hover div.dropdown-1-sub-17 {
  display: block;
}

div.dropdown-2-17 div.dropdown-2-sub-17 {
  display: none;
}

div.dropdown-2-17:hover div.dropdown-2-sub-17 {
  display: block;
}

div.dropdown-1-18 div.dropdown-1-sub-18 {
  display: none;
}

div.dropdown-1-18:hover div.dropdown-1-sub-18 {
  display: block;
}

div.dropdown-2-18 div.dropdown-2-sub-18 {
  display: none;
}

div.dropdown-2-18:hover div.dropdown-2-sub-18 {
  display: block;
}

div.dropdown-1-19 div.dropdown-1-sub-19 {
  display: none;
}

div.dropdown-1-19:hover div.dropdown-1-sub-19 {
  display: block;
}

div.dropdown-2-19 div.dropdown-2-sub-19 {
  display: none;
}

div.dropdown-2-19:hover div.dropdown-2-sub-19 {
  display: block;
}

div.dropdown-1-20 div.dropdown-1-sub-20 {
  display: none;
}

div.dropdown-1-20:hover div.dropdown-1-sub-20 {
  display: block;
}

div.dropdown-2-20 div.dropdown-2-sub-20 {
  display: none;
}

div.dropdown-2-20:hover div.dropdown-2-sub-20 {
  display: block;
}

div.dropdown-1-21 div.dropdown-1-sub-21 {
  display: none;
}

div.dropdown-1-21:hover div.dropdown-1-sub-21 {
  display: block;
}

div.dropdown-2-21 div.dropdown-2-sub-21 {
  display: none;
}

div.dropdown-2-21:hover div.dropdown-2-sub-21 {
  display: block;
}

div.dropdown-1-22 div.dropdown-1-sub-22 {
  display: none;
}

div.dropdown-1-22:hover div.dropdown-1-sub-22 {
  display: block;
}

div.dropdown-2-22 div.dropdown-2-sub-22 {
  display: none;
}

div.dropdown-2-22:hover div.dropdown-2-sub-22 {
  display: block;
}

div.dropdown-1-23 div.dropdown-1-sub-23 {
  display: none;
}

div.dropdown-1-23:hover div.dropdown-1-sub-23 {
  display: block;
}

div.dropdown-2-23 div.dropdown-2-sub-23 {
  display: none;
}

div.dropdown-2-23:hover div.dropdown-2-sub-23 {
  display: block;
}

div.dropdown-1-24 div.dropdown-1-sub-24 {
  display: none;
}

div.dropdown-1-24:hover div.dropdown-1-sub-24 {
  display: block;
}

div.dropdown-2-24 div.dropdown-2-sub-24 {
  display: none;
}

div.dropdown-2-24:hover div.dropdown-2-sub-24 {
  display: block;
}

div.dropdown-1-25 div.dropdown-1-sub-25 {
  display: none;
}

div.dropdown-1-25:hover div.dropdown-1-sub-25 {
  display: block;
}

div.dropdown-2-25 div.dropdown-2-sub-25 {
  display: none;
}

div.dropdown-2-25:hover div.dropdown-2-sub-25 {
  display: block;
}

div.dropdown-1-26 div.dropdown-1-sub-26 {
  display: none;
}

div.dropdown-1-26:hover div.dropdown-1-sub-26 {
  display: block;
}

div.dropdown-2-26 div.dropdown-2-sub-26 {
  display: none;
}

div.dropdown-2-26:hover div.dropdown-2-sub-26 {
  display: block;
}

div.dropdown-1-27 div.dropdown-1-sub-27 {
  display: none;
}

div.dropdown-1-27:hover div.dropdown-1-sub-27 {
  display: block;
}

div.dropdown-2-27 div.dropdown-2-sub-27 {
  display: none;
}

div.dropdown-2-27:hover div.dropdown-2-sub-27 {
  display: block;
}

div.dropdown-1-28 div.dropdown-1-sub-28 {
  display: none;
}

div.dropdown-1-28:hover div.dropdown-1-sub-28 {
  display: block;
}

div.dropdown-2-28 div.dropdown-2-sub-28 {
  display: none;
}

div.dropdown-2-28:hover div.dropdown-2-sub-28 {
  display: block;
}

div.dropdown-1-29 div.dropdown-1-sub-29 {
  display: none;
}

div.dropdown-1-29:hover div.dropdown-1-sub-29 {
  display: block;
}

div.dropdown-2-29 div.dropdown-2-sub-29 {
  display: none;
}

div.dropdown-2-29:hover div.dropdown-2-sub-29 {
  display: block;
}

div.dropdown-1-30 div.dropdown-1-sub-30 {
  display: none;
}

div.dropdown-1-30:hover div.dropdown-1-sub-30 {
  display: block;
}

div.dropdown-2-30 div.dropdown-2-sub-30 {
  display: none;
}

div.dropdown-2-30:hover div.dropdown-2-sub-30 {
  display: block;
}

div.dropdown-1-31 div.dropdown-1-sub-31 {
  display: none;
}

div.dropdown-1-31:hover div.dropdown-1-sub-31 {
  display: block;
}

div.dropdown-2-31 div.dropdown-2-sub-31 {
  display: none;
}

div.dropdown-2-31:hover div.dropdown-2-sub-31 {
  display: block;
}

div.dropdown-1-32 div.dropdown-1-sub-32 {
  display: none;
}

div.dropdown-1-32:hover div.dropdown-1-sub-32 {
  display: block;
}

div.dropdown-2-32 div.dropdown-2-sub-32 {
  display: none;
}

div.dropdown-2-32:hover div.dropdown-2-sub-32 {
  display: block;
}

div.dropdown-1-33 div.dropdown-1-sub-33 {
  display: none;
}

div.dropdown-1-33:hover div.dropdown-1-sub-33 {
  display: block;
}

div.dropdown-2-33 div.dropdown-2-sub-33 {
  display: none;
}

div.dropdown-2-33:hover div.dropdown-2-sub-33 {
  display: block;
}

div.dropdown-1-34 div.dropdown-1-sub-34 {
  display: none;
}

div.dropdown-1-34:hover div.dropdown-1-sub-34 {
  display: block;
}

div.dropdown-2-34 div.dropdown-2-sub-34 {
  display: none;
}

div.dropdown-2-34:hover div.dropdown-2-sub-34 {
  display: block;
}

div.dropdown-1-35 div.dropdown-1-sub-35 {
  display: none;
}

div.dropdown-1-35:hover div.dropdown-1-sub-35 {
  display: block;
}

div.dropdown-2-35 div.dropdown-2-sub-35 {
  display: none;
}

div.dropdown-2-35:hover div.dropdown-2-sub-35 {
  display: block;
}

div.dropdown-1-36 div.dropdown-1-sub-36 {
  display: none;
}

div.dropdown-1-36:hover div.dropdown-1-sub-36 {
  display: block;
}

div.dropdown-2-36 div.dropdown-2-sub-36 {
  display: none;
}

div.dropdown-2-36:hover div.dropdown-2-sub-36 {
  display: block;
}

div.dropdown-1-37 div.dropdown-1-sub-37 {
  display: none;
}

div.dropdown-1-37:hover div.dropdown-1-sub-37 {
  display: block;
}

div.dropdown-2-37 div.dropdown-2-sub-37 {
  display: none;
}

div.dropdown-2-37:hover div.dropdown-2-sub-37 {
  display: block;
}

div.dropdown-1-38 div.dropdown-1-sub-38 {
  display: none;
}

div.dropdown-1-38:hover div.dropdown-1-sub-38 {
  display: block;
}

div.dropdown-2-38 div.dropdown-2-sub-38 {
  display: none;
}

div.dropdown-2-38:hover div.dropdown-2-sub-38 {
  display: block;
}

div.dropdown-1-39 div.dropdown-1-sub-39 {
  display: none;
}

div.dropdown-1-39:hover div.dropdown-1-sub-39 {
  display: block;
}

div.dropdown-2-39 div.dropdown-2-sub-39 {
  display: none;
}

div.dropdown-2-39:hover div.dropdown-2-sub-39 {
  display: block;
}

div.dropdown-1-40 div.dropdown-1-sub-40 {
  display: none;
}

div.dropdown-1-40:hover div.dropdown-1-sub-40 {
  display: block;
}

div.dropdown-2-40 div.dropdown-2-sub-40 {
  display: none;
}

div.dropdown-2-40:hover div.dropdown-2-sub-40 {
  display: block;
}

div.dropdown-1-41 div.dropdown-1-sub-41 {
  display: none;
}

div.dropdown-1-41:hover div.dropdown-1-sub-41 {
  display: block;
}

div.dropdown-2-41 div.dropdown-2-sub-41 {
  display: none;
}

div.dropdown-2-41:hover div.dropdown-2-sub-41 {
  display: block;
}

div.dropdown-1-42 div.dropdown-1-sub-42 {
  display: none;
}

div.dropdown-1-42:hover div.dropdown-1-sub-42 {
  display: block;
}

div.dropdown-2-42 div.dropdown-2-sub-42 {
  display: none;
}

div.dropdown-2-42:hover div.dropdown-2-sub-42 {
  display: block;
}

div.dropdown-1-43 div.dropdown-1-sub-43 {
  display: none;
}

div.dropdown-1-43:hover div.dropdown-1-sub-43 {
  display: block;
}

div.dropdown-2-43 div.dropdown-2-sub-43 {
  display: none;
}

div.dropdown-2-43:hover div.dropdown-2-sub-43 {
  display: block;
}

div.dropdown-1-44 div.dropdown-1-sub-44 {
  display: none;
}

div.dropdown-1-44:hover div.dropdown-1-sub-44 {
  display: block;
}

div.dropdown-2-44 div.dropdown-2-sub-44 {
  display: none;
}

div.dropdown-2-44:hover div.dropdown-2-sub-44 {
  display: block;
}

div.dropdown-1-45 div.dropdown-1-sub-45 {
  display: none;
}

div.dropdown-1-45:hover div.dropdown-1-sub-45 {
  display: block;
}

div.dropdown-2-45 div.dropdown-2-sub-45 {
  display: none;
}

div.dropdown-2-45:hover div.dropdown-2-sub-45 {
  display: block;
}

div.dropdown-1-46 div.dropdown-1-sub-46 {
  display: none;
}

div.dropdown-1-46:hover div.dropdown-1-sub-46 {
  display: block;
}

div.dropdown-2-46 div.dropdown-2-sub-46 {
  display: none;
}

div.dropdown-2-46:hover div.dropdown-2-sub-46 {
  display: block;
}

div.dropdown-1-47 div.dropdown-1-sub-47 {
  display: none;
}

div.dropdown-1-47:hover div.dropdown-1-sub-47 {
  display: block;
}

div.dropdown-2-47 div.dropdown-2-sub-47 {
  display: none;
}

div.dropdown-2-47:hover div.dropdown-2-sub-47 {
  display: block;
}

div.dropdown-1-48 div.dropdown-1-sub-48 {
  display: none;
}

div.dropdown-1-48:hover div.dropdown-1-sub-48 {
  display: block;
}

div.dropdown-2-48 div.dropdown-2-sub-48 {
  display: none;
}

div.dropdown-2-48:hover div.dropdown-2-sub-48 {
  display: block;
}

div.dropdown-1-49 div.dropdown-1-sub-49 {
  display: none;
}

div.dropdown-1-49:hover div.dropdown-1-sub-49 {
  display: block;
}

div.dropdown-2-49 div.dropdown-2-sub-49 {
  display: none;
}

div.dropdown-2-49:hover div.dropdown-2-sub-49 {
  display: block;
}

div.dropdown-1-50 div.dropdown-1-sub-50 {
  display: none;
}

div.dropdown-1-50:hover div.dropdown-1-sub-50 {
  display: block;
}

div.dropdown-2-50 div.dropdown-2-sub-50 {
  display: none;
}

div.dropdown-2-50:hover div.dropdown-2-sub-50 {
  display: block;
}

div.dropdown-1-51 div.dropdown-1-sub-51 {
  display: none;
}

div.dropdown-1-51:hover div.dropdown-1-sub-51 {
  display: block;
}

div.dropdown-2-51 div.dropdown-2-sub-51 {
  display: none;
}

div.dropdown-2-51:hover div.dropdown-2-sub-51 {
  display: block;
}

div.dropdown-1-52 div.dropdown-1-sub-52 {
  display: none;
}

div.dropdown-1-52:hover div.dropdown-1-sub-52 {
  display: block;
}

div.dropdown-2-52 div.dropdown-2-sub-52 {
  display: none;
}

div.dropdown-2-52:hover div.dropdown-2-sub-52 {
  display: block;
}

div.dropdown-1-53 div.dropdown-1-sub-53 {
  display: none;
}

div.dropdown-1-53:hover div.dropdown-1-sub-53 {
  display: block;
}

div.dropdown-2-53 div.dropdown-2-sub-53 {
  display: none;
}

div.dropdown-2-53:hover div.dropdown-2-sub-53 {
  display: block;
}

div.dropdown-1-54 div.dropdown-1-sub-54 {
  display: none;
}

div.dropdown-1-54:hover div.dropdown-1-sub-54 {
  display: block;
}

div.dropdown-2-54 div.dropdown-2-sub-54 {
  display: none;
}

div.dropdown-2-54:hover div.dropdown-2-sub-54 {
  display: block;
}

div.dropdown-1-55 div.dropdown-1-sub-55 {
  display: none;
}

div.dropdown-1-55:hover div.dropdown-1-sub-55 {
  display: block;
}

div.dropdown-2-55 div.dropdown-2-sub-55 {
  display: none;
}

div.dropdown-2-55:hover div.dropdown-2-sub-55 {
  display: block;
}

div.dropdown-1-56 div.dropdown-1-sub-56 {
  display: none;
}

div.dropdown-1-56:hover div.dropdown-1-sub-56 {
  display: block;
}

div.dropdown-2-56 div.dropdown-2-sub-56 {
  display: none;
}

div.dropdown-2-56:hover div.dropdown-2-sub-56 {
  display: block;
}

div.dropdown-1-57 div.dropdown-1-sub-57 {
  display: none;
}

div.dropdown-1-57:hover div.dropdown-1-sub-57 {
  display: block;
}

div.dropdown-2-57 div.dropdown-2-sub-57 {
  display: none;
}

div.dropdown-2-57:hover div.dropdown-2-sub-57 {
  display: block;
}

div.dropdown-1-58 div.dropdown-1-sub-58 {
  display: none;
}

div.dropdown-1-58:hover div.dropdown-1-sub-58 {
  display: block;
}

div.dropdown-2-58 div.dropdown-2-sub-58 {
  display: none;
}

div.dropdown-2-58:hover div.dropdown-2-sub-58 {
  display: block;
}

div.dropdown-1-59 div.dropdown-1-sub-59 {
  display: none;
}

div.dropdown-1-59:hover div.dropdown-1-sub-59 {
  display: block;
}

div.dropdown-2-59 div.dropdown-2-sub-59 {
  display: none;
}

div.dropdown-2-59:hover div.dropdown-2-sub-59 {
  display: block;
}

div.dropdown-1-60 div.dropdown-1-sub-60 {
  display: none;
}

div.dropdown-1-60:hover div.dropdown-1-sub-60 {
  display: block;
}

div.dropdown-2-60 div.dropdown-2-sub-60 {
  display: none;
}

div.dropdown-2-60:hover div.dropdown-2-sub-60 {
  display: block;
}

div.dropdown-1-61 div.dropdown-1-sub-61 {
  display: none;
}

div.dropdown-1-61:hover div.dropdown-1-sub-61 {
  display: block;
}

div.dropdown-2-61 div.dropdown-2-sub-61 {
  display: none;
}

div.dropdown-2-61:hover div.dropdown-2-sub-61 {
  display: block;
}

div.dropdown-1-62 div.dropdown-1-sub-62 {
  display: none;
}

div.dropdown-1-62:hover div.dropdown-1-sub-62 {
  display: block;
}

div.dropdown-2-62 div.dropdown-2-sub-62 {
  display: none;
}

div.dropdown-2-62:hover div.dropdown-2-sub-62 {
  display: block;
}

div.dropdown-1-63 div.dropdown-1-sub-63 {
  display: none;
}

div.dropdown-1-63:hover div.dropdown-1-sub-63 {
  display: block;
}

div.dropdown-2-63 div.dropdown-2-sub-63 {
  display: none;
}

div.dropdown-2-63:hover div.dropdown-2-sub-63 {
  display: block;
}

div.dropdown-1-64 div.dropdown-1-sub-64 {
  display: none;
}

div.dropdown-1-64:hover div.dropdown-1-sub-64 {
  display: block;
}

div.dropdown-2-64 div.dropdown-2-sub-64 {
  display: none;
}

div.dropdown-2-64:hover div.dropdown-2-sub-64 {
  display: block;
}

div.dropdown-1-65 div.dropdown-1-sub-65 {
  display: none;
}

div.dropdown-1-65:hover div.dropdown-1-sub-65 {
  display: block;
}

div.dropdown-2-65 div.dropdown-2-sub-65 {
  display: none;
}

div.dropdown-2-65:hover div.dropdown-2-sub-65 {
  display: block;
}

div.dropdown-1-66 div.dropdown-1-sub-66 {
  display: none;
}

div.dropdown-1-66:hover div.dropdown-1-sub-66 {
  display: block;
}

div.dropdown-2-66 div.dropdown-2-sub-66 {
  display: none;
}

div.dropdown-2-66:hover div.dropdown-2-sub-66 {
  display: block;
}

div.dropdown-1-67 div.dropdown-1-sub-67 {
  display: none;
}

div.dropdown-1-67:hover div.dropdown-1-sub-67 {
  display: block;
}

div.dropdown-2-67 div.dropdown-2-sub-67 {
  display: none;
}

div.dropdown-2-67:hover div.dropdown-2-sub-67 {
  display: block;
}

div.dropdown-1-68 div.dropdown-1-sub-68 {
  display: none;
}

div.dropdown-1-68:hover div.dropdown-1-sub-68 {
  display: block;
}

div.dropdown-2-68 div.dropdown-2-sub-68 {
  display: none;
}

div.dropdown-2-68:hover div.dropdown-2-sub-68 {
  display: block;
}

div.dropdown-1-69 div.dropdown-1-sub-69 {
  display: none;
}

div.dropdown-1-69:hover div.dropdown-1-sub-69 {
  display: block;
}

div.dropdown-2-69 div.dropdown-2-sub-69 {
  display: none;
}

div.dropdown-2-69:hover div.dropdown-2-sub-69 {
  display: block;
}

div.dropdown-1-70 div.dropdown-1-sub-70 {
  display: none;
}

div.dropdown-1-70:hover div.dropdown-1-sub-70 {
  display: block;
}

div.dropdown-2-70 div.dropdown-2-sub-70 {
  display: none;
}

div.dropdown-2-70:hover div.dropdown-2-sub-70 {
  display: block;
}

div.dropdown-1-71 div.dropdown-1-sub-71 {
  display: none;
}

div.dropdown-1-71:hover div.dropdown-1-sub-71 {
  display: block;
}

div.dropdown-2-71 div.dropdown-2-sub-71 {
  display: none;
}

div.dropdown-2-71:hover div.dropdown-2-sub-71 {
  display: block;
}

div.dropdown-1-72 div.dropdown-1-sub-72 {
  display: none;
}

div.dropdown-1-72:hover div.dropdown-1-sub-72 {
  display: block;
}

div.dropdown-2-72 div.dropdown-2-sub-72 {
  display: none;
}

div.dropdown-2-72:hover div.dropdown-2-sub-72 {
  display: block;
}

div.dropdown-1-73 div.dropdown-1-sub-73 {
  display: none;
}

div.dropdown-1-73:hover div.dropdown-1-sub-73 {
  display: block;
}

div.dropdown-2-73 div.dropdown-2-sub-73 {
  display: none;
}

div.dropdown-2-73:hover div.dropdown-2-sub-73 {
  display: block;
}

div.dropdown-1-74 div.dropdown-1-sub-74 {
  display: none;
}

div.dropdown-1-74:hover div.dropdown-1-sub-74 {
  display: block;
}

div.dropdown-2-74 div.dropdown-2-sub-74 {
  display: none;
}

div.dropdown-2-74:hover div.dropdown-2-sub-74 {
  display: block;
}

div.dropdown-1-75 div.dropdown-1-sub-75 {
  display: none;
}

div.dropdown-1-75:hover div.dropdown-1-sub-75 {
  display: block;
}

div.dropdown-2-75 div.dropdown-2-sub-75 {
  display: none;
}

div.dropdown-2-75:hover div.dropdown-2-sub-75 {
  display: block;
}

div.dropdown-1-76 div.dropdown-1-sub-76 {
  display: none;
}

div.dropdown-1-76:hover div.dropdown-1-sub-76 {
  display: block;
}

div.dropdown-2-76 div.dropdown-2-sub-76 {
  display: none;
}

div.dropdown-2-76:hover div.dropdown-2-sub-76 {
  display: block;
}

div.dropdown-1-77 div.dropdown-1-sub-77 {
  display: none;
}

div.dropdown-1-77:hover div.dropdown-1-sub-77 {
  display: block;
}

div.dropdown-2-77 div.dropdown-2-sub-77 {
  display: none;
}

div.dropdown-2-77:hover div.dropdown-2-sub-77 {
  display: block;
}

div.dropdown-1-78 div.dropdown-1-sub-78 {
  display: none;
}

div.dropdown-1-78:hover div.dropdown-1-sub-78 {
  display: block;
}

div.dropdown-2-78 div.dropdown-2-sub-78 {
  display: none;
}

div.dropdown-2-78:hover div.dropdown-2-sub-78 {
  display: block;
}

div.dropdown-1-79 div.dropdown-1-sub-79 {
  display: none;
}

div.dropdown-1-79:hover div.dropdown-1-sub-79 {
  display: block;
}

div.dropdown-2-79 div.dropdown-2-sub-79 {
  display: none;
}

div.dropdown-2-79:hover div.dropdown-2-sub-79 {
  display: block;
}

div.dropdown-1-80 div.dropdown-1-sub-80 {
  display: none;
}

div.dropdown-1-80:hover div.dropdown-1-sub-80 {
  display: block;
}

div.dropdown-2-80 div.dropdown-2-sub-80 {
  display: none;
}

div.dropdown-2-80:hover div.dropdown-2-sub-80 {
  display: block;
}

div.dropdown-1-81 div.dropdown-1-sub-81 {
  display: none;
}

div.dropdown-1-81:hover div.dropdown-1-sub-81 {
  display: block;
}

div.dropdown-2-81 div.dropdown-2-sub-81 {
  display: none;
}

div.dropdown-2-81:hover div.dropdown-2-sub-81 {
  display: block;
}

div.dropdown-1-82 div.dropdown-1-sub-82 {
  display: none;
}

div.dropdown-1-82:hover div.dropdown-1-sub-82 {
  display: block;
}

div.dropdown-2-82 div.dropdown-2-sub-82 {
  display: none;
}

div.dropdown-2-82:hover div.dropdown-2-sub-82 {
  display: block;
}

div.dropdown-1-83 div.dropdown-1-sub-83 {
  display: none;
}

div.dropdown-1-83:hover div.dropdown-1-sub-83 {
  display: block;
}

div.dropdown-2-83 div.dropdown-2-sub-83 {
  display: none;
}

div.dropdown-2-83:hover div.dropdown-2-sub-83 {
  display: block;
}

div.dropdown-1-84 div.dropdown-1-sub-84 {
  display: none;
}

div.dropdown-1-84:hover div.dropdown-1-sub-84 {
  display: block;
}

div.dropdown-2-84 div.dropdown-2-sub-84 {
  display: none;
}

div.dropdown-2-84:hover div.dropdown-2-sub-84 {
  display: block;
}

div.dropdown-1-85 div.dropdown-1-sub-85 {
  display: none;
}

div.dropdown-1-85:hover div.dropdown-1-sub-85 {
  display: block;
}

div.dropdown-2-85 div.dropdown-2-sub-85 {
  display: none;
}

div.dropdown-2-85:hover div.dropdown-2-sub-85 {
  display: block;
}

div.dropdown-1-86 div.dropdown-1-sub-86 {
  display: none;
}

div.dropdown-1-86:hover div.dropdown-1-sub-86 {
  display: block;
}

div.dropdown-2-86 div.dropdown-2-sub-86 {
  display: none;
}

div.dropdown-2-86:hover div.dropdown-2-sub-86 {
  display: block;
}

div.dropdown-1-87 div.dropdown-1-sub-87 {
  display: none;
}

div.dropdown-1-87:hover div.dropdown-1-sub-87 {
  display: block;
}

div.dropdown-2-87 div.dropdown-2-sub-87 {
  display: none;
}

div.dropdown-2-87:hover div.dropdown-2-sub-87 {
  display: block;
}

div.dropdown-1-88 div.dropdown-1-sub-88 {
  display: none;
}

div.dropdown-1-88:hover div.dropdown-1-sub-88 {
  display: block;
}

div.dropdown-2-88 div.dropdown-2-sub-88 {
  display: none;
}

div.dropdown-2-88:hover div.dropdown-2-sub-88 {
  display: block;
}

div.dropdown-1-89 div.dropdown-1-sub-89 {
  display: none;
}

div.dropdown-1-89:hover div.dropdown-1-sub-89 {
  display: block;
}

div.dropdown-2-89 div.dropdown-2-sub-89 {
  display: none;
}

div.dropdown-2-89:hover div.dropdown-2-sub-89 {
  display: block;
}

div.dropdown-1-90 div.dropdown-1-sub-90 {
  display: none;
}

div.dropdown-1-90:hover div.dropdown-1-sub-90 {
  display: block;
}

div.dropdown-2-90 div.dropdown-2-sub-90 {
  display: none;
}

div.dropdown-2-90:hover div.dropdown-2-sub-90 {
  display: block;
}

div.dropdown-1-91 div.dropdown-1-sub-91 {
  display: none;
}

div.dropdown-1-91:hover div.dropdown-1-sub-91 {
  display: block;
}

div.dropdown-2-91 div.dropdown-2-sub-91 {
  display: none;
}

div.dropdown-2-91:hover div.dropdown-2-sub-91 {
  display: block;
}

div.dropdown-1-92 div.dropdown-1-sub-92 {
  display: none;
}

div.dropdown-1-92:hover div.dropdown-1-sub-92 {
  display: block;
}

div.dropdown-2-92 div.dropdown-2-sub-92 {
  display: none;
}

div.dropdown-2-92:hover div.dropdown-2-sub-92 {
  display: block;
}

div.dropdown-1-93 div.dropdown-1-sub-93 {
  display: none;
}

div.dropdown-1-93:hover div.dropdown-1-sub-93 {
  display: block;
}

div.dropdown-2-93 div.dropdown-2-sub-93 {
  display: none;
}

div.dropdown-2-93:hover div.dropdown-2-sub-93 {
  display: block;
}

div.dropdown-1-94 div.dropdown-1-sub-94 {
  display: none;
}

div.dropdown-1-94:hover div.dropdown-1-sub-94 {
  display: block;
}

div.dropdown-2-94 div.dropdown-2-sub-94 {
  display: none;
}

div.dropdown-2-94:hover div.dropdown-2-sub-94 {
  display: block;
}

div.dropdown-1-95 div.dropdown-1-sub-95 {
  display: none;
}

div.dropdown-1-95:hover div.dropdown-1-sub-95 {
  display: block;
}

div.dropdown-2-95 div.dropdown-2-sub-95 {
  display: none;
}

div.dropdown-2-95:hover div.dropdown-2-sub-95 {
  display: block;
}

div.dropdown-1-96 div.dropdown-1-sub-96 {
  display: none;
}

div.dropdown-1-96:hover div.dropdown-1-sub-96 {
  display: block;
}

div.dropdown-2-96 div.dropdown-2-sub-96 {
  display: none;
}

div.dropdown-2-96:hover div.dropdown-2-sub-96 {
  display: block;
}

div.dropdown-1-97 div.dropdown-1-sub-97 {
  display: none;
}

div.dropdown-1-97:hover div.dropdown-1-sub-97 {
  display: block;
}

div.dropdown-2-97 div.dropdown-2-sub-97 {
  display: none;
}

div.dropdown-2-97:hover div.dropdown-2-sub-97 {
  display: block;
}

div.dropdown-1-98 div.dropdown-1-sub-98 {
  display: none;
}

div.dropdown-1-98:hover div.dropdown-1-sub-98 {
  display: block;
}

div.dropdown-2-98 div.dropdown-2-sub-98 {
  display: none;
}

div.dropdown-2-98:hover div.dropdown-2-sub-98 {
  display: block;
}

div.dropdown-1-99 div.dropdown-1-sub-99 {
  display: none;
}

div.dropdown-1-99:hover div.dropdown-1-sub-99 {
  display: block;
}

div.dropdown-2-99 div.dropdown-2-sub-99 {
  display: none;
}

div.dropdown-2-99:hover div.dropdown-2-sub-99 {
  display: block;
}

div.dropdown-1-100 div.dropdown-1-sub-100 {
  display: none;
}

div.dropdown-1-100:hover div.dropdown-1-sub-100 {
  display: block;
}

div.dropdown-2-100 div.dropdown-2-sub-100 {
  display: none;
}

div.dropdown-2-100:hover div.dropdown-2-sub-100 {
  display: block;
}

.top-9 {
  top: 40px;
}

.top-18 {
  top: 80px;
}

.top-27 {
  top: 120px;
}

.top-36 {
  top: 160px;
}

.top-45 {
  top: 200px;
}

.top-54 {
  top: 240px;
}

.top-63 {
  top: 280px;
}

.top-72 {
  top: 320px;
}

.top-81 {
  top: 360px;
}

.top-90 {
  top: 400px;
}

.top-99 {
  top: 440px;
}

.top-108 {
  top: 480px;
}

.top-117 {
  top: 520px;
}

.top-126 {
  top: 560px;
}

.top-135 {
  top: 600px;
}

.top-144 {
  top: 640px;
}

.top-153 {
  top: 680px;
}

.top-162 {
  top: 720px;
}

.top-171 {
  top: 760px;
}

.top-180 {
  top: 800px;
}

.top-189 {
  top: 840px;
}

.top-198 {
  top: 880px;
}

.top-12 {
  top: 50px;
}

.top-21 {
  top: 90px;
}

.top-30 {
  top: 130px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bg-head {
  background-image: url(../images/bg-home.jpg);
}

.bg-head-2 {
  background-image: url(../images/banner.png);
}

.w-80 {
  width: 80%;
}

.w-200 {
  height: 500px;
}

.visually-hidden {
  visibility: hidden;
  display: none;
}

.checked {
  color: orange;
}

.img-product {
  overflow: hidden;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
